@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,400;0,700;1,700&display=swap');
$colors: (
    // Primary
    'very-dark-blue' : hsl(243, 87%, 12%),
    'desaturated' : hsl(238, 22%, 44%),
    // Accent
    'bright-blue' : hsl(224, 93%, 58%),
    'moderate-cyan' : hsl(170, 45%, 43%),
    // Neutral
    'light-grayish-blue' : hsl(240, 75%, 98%),
    'light-gray' : hsl(0, 0%, 75%),
);
$font-other: 'Raleway'; // Headings, Call to action, Header Navigation 
$font-body: 'Open sans'; // Body
// Medium screen media query
@mixin Ipad-screen {
    @media screen and (min-width: 768px) {
        @content;
    }
}
// Large screen media query
@mixin large-screen {
    @media screen and (min-width: 980px) {
        @content;
    }
}