body {
    display: flex;
    flex-direction: column;
    font-family: $font-body;
    font-size: 1rem;
    background-color: #fff;
    background-image: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: 100% 50px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    &__logo {
        height: 30px;
        width: 100px;
        align-self: center;
    }
    &__nav {
        width: 75%;
        &-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            padding:0;
            &-item {
                list-style-type: none;
                margin-right: 0.5rem;
                font-family: $font-other;
                font-weight: 400;
                font-size: 1rem;
                &:hover {
                    cursor: pointer;
                    color: darken(map-get($colors, 'light-grayish-blue'), 70%);
                }
                &:nth-last-child(1) {
                    margin: 0;
                }
            }
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .intro {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        &__body {
            order: 1;
            margin-top: 2rem;
            &__title {
                text-align: center;
                font-weight: $font-other;
                font-weight: 700;
                font-size: 1.7rem;
                color: map-get($colors, 'very-dark-blue');
            }
            &__desc {
                padding: 0 1rem;
                text-align: center;
                text-align-last: center;
                text-transform: capitalize;
                line-height: 1.4;
                font-size: 1rem;
                white-space: wrap;
                font-family: $font-body;
                color: map-get($colors, 'desaturated');
                margin-top: 1.5rem;

            }
            &__input {
                margin-top: 2.5rem;
                gap: 1rem;
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    div {
                        display: flex; 
                        flex-direction: column;
                        span {
                            font-size: 0.8rem;
                            font-family: $font-other;
                            color: #d10b0b;
                            padding: 0.5rem;
                            padding-left: 0;
                        }
                    }
                }
                &-text {
                    border: thin solid map-get($colors, 'very-dark-blue');
                    height:50px;
                    padding: 1rem;
                    font-family: $font-other;
                    font-size: 1rem;
                    border-radius: 5px;
                    &:focus {
                        outline: none;
                    }
                }
                &-button {
                    text-align: center;
                    color: map-get($colors, 'light-grayish-blue');
                    background-color: map-get($colors, 'bright-blue');
                    border-radius: 5px;
                    border: none;
                    padding: 1rem;
                    font-weight: 700;
                    box-shadow: 2px 2px 4px -1px map-get($colors, 'very-dark-blue');
                    &:hover {
                        background-color: darken(map-get($colors, 'light-grayish-blue'), 30%);
                        cursor: pointer;
                    }
                }
            }
        }
        &__img {
            order: 0
        }
    }
    .msg {
        padding: 2rem;
        margin-top: 3rem;
        background-color: map-get($colors, 'light-grayish-blue');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        &__illustration {
            order: 0;
        }
        &__content {
            order: 1;
            margin-top: 4rem;

            &__title {
                text-align:center;
                font-size: 1.7rem;
                font-family: $font-other;
                color: map-get($colors, 'very-dark-blue')
            }
            &__body {
                text-align: left;
                color: map-get($colors, 'desaturated');
                font-family: $font-body;
                font-size: 1rem;
            }
            &__link {
                width: 100%;
                text-align: center;
                margin-top: 2rem;
                a {
                    display: inline-block;
                    color: map-get($colors, 'moderate-cyan');
                    font-weight: 400;
                    text-decoration: none;
                    border-bottom: 1px solid map-get($colors, 'moderate-cyan');
                    vertical-align: baseline;
                }
                &-text {
                    margin-right: 3px;
                }
                &-icon {
                    height: 25px;
                    width: auto;
                    float: right;
                    margin-left: 0.5rem;
                }
            }
            &__quotes {
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 1.5rem;
                background-color: lighten(map-get($colors, 'light-grayish-blue'), 90%);
                border-radius: 10px;
                box-shadow: 1px 1px 8px -2px rgba(0,0,0,0.53);
                &__icon {
                    height: 25px;
                }
                &__text {
                    margin-top: 5px;
                    font-family: $font-body;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: map-get($colors, 'desaturated');
                    font-size: 1rem;
                    line-height: 1.4;
                }
                &__user {
                    display: flex;
                    margin-bottom: 1rem;
                    &__img {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                    &__info{
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        &__name {
                            font-size: 0.8rem;
                            color: map-get($colors, 'very-dark-blue');
                            font-weight: 700;
                            font-family: $font-other;
                        }
                        &__title {
                            margin: 0;
                            font-family: $font-other;
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }
    }
    .access {
        background-color: map-get($colors, 'desaturated');
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: map-get($colors, 'light-grayish-blue');
        padding: 2rem;
        &__text{
            &__title{
                font-size: 1.5rem;
            }
            &__body{
                line-height: 1.4;
                text-align: center;
                text-align-last: center;
                text-transform: capitalize;
            }
        }
        &__form {
            margin-top: 2rem;;
            width:90%;
            display: flex;
            flex-direction: column;
            span {
                font-size: .8rem;
                font-weight: 400;
                padding: 5px;
                text-align: left;
            }
            &__input {
                border: thin solid map-get($colors, 'very-dark-blue');
                height:50px;
                padding: 1rem;
                font-family: $font-other;
                font-size: 1rem;
                border-radius: 5px;
                width: 100%;
            }
            &__btn {
                text-align: center;
                color: map-get($colors, 'light-grayish-blue');
                background-color: map-get($colors, 'bright-blue');
                border-radius: 5px;
                border: none;
                padding: 1rem;
                font-weight: 700;
                width: 100%;
                margin-top: 1rem;
                &:hover {
                    background-color: darken(map-get($colors, 'light-grayish-blue'), 30%);
                    cursor: pointer;
                }
            }
        }
    }
}
footer {
    background-color: map-get($colors, 'very-dark-blue');
    color: map-get($colors, 'light-grayish-blue');
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    .footer__logo {
        width: 150px;
        height: 80px;
        align-self: flex-start;
    }
    section{
        width: 100%;
    }
    .company {
        width: 100%;
        margin-top: 2rem;
        &__contact{
            display: flex;
            &__icon {
                margin-right: 1.5rem;
                height: 20px;
                width: 25px;
                align-self: center;
            }
            &__text {
                font-size: 1.1rem;
            }
        }
        &__contact:nth-last-child(1) {
            margin-top: 1rem;
        }
    }
    .links {
        font-size: 1.3rem;
        font-family: $font-other;
        margin-top: 1rem;
        .link {
            padding: 0;
            &__item {
                list-style-type: none;
                padding: 0.5rem;
                text-transform: capitalize;
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: map-get($colors, 'light-grayish-blue');
                    &:hover {
                        color: map-get($colors, 'bright-blue')
                    }
                }
            }
        }
    }
    .social-media {
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        i{
            border: 2px solid #fff;
            padding: 0.8rem;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            text-align: center;
            margin-left: 1rem;
            &:hover {
                color: map-get($colors, 'bright-blue');
                cursor: pointer;
            }
        }
    }
}